body {
    background-color: rgb(17, 17, 17);
    margin: 0;
}
.back{
    width: 96%;
    height: 100px;
    margin-top: 35px;
    margin-left: 39px;
    background-color: aliceblue;
    border: 1px solid rgb(255, 251, 252);
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgb(247, 246, 246);
}
.baroption{
    display: flex;
    margin-top: 10px;
}
.bar{
    margin-left: 45px;


}
.barstyle{
    text-decoration: none;
    color: crimson;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    transition: font-size 1s;
    align-items: baseline;
}
.barstyle:hover{
    font-size: 45px;
    color: black;
    transition: .4s;
    
}
.search-bar{
    width: 300px;
    margin-left: 500px;
    margin-top: 12px;
    margin-bottom: 14px;
    border-radius: 20px;
    padding: 12px;
    font-size: large;
}
.search-bar:focus{
    color: white;
    background-color: black;
    font-size: larger;
    
    
}
.search-button{
    margin-left: 20px;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-top: 1px;
    background-color: crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: transform .4s;
}
.search-button:hover{
    transform: scale(1.2);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.search-button-style{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
}





