body {
    background-color: black;
  }
  p {
    color: #02fc24;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
  }
  h1 {
    color: rgb(224, 7, 80);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  }
  .murgikhan {
    border: 3px solid rgb(248, 247, 247);
    border-radius: 2px;
    width: 450px;
    height: 270px;
    margin: 18px;
    padding: 15px;
    display: inline-block;
  }
  img {
    width: 150px;
    
  }
 
.gunda:visited{
  color: #f2f7f3;
}
.nani:focus {
  color: rgb(243, 235, 235);
  background-color: rgb(0, 0, 0);
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img::after {
  content: NARVx;
  color: #02fc24;
}
.gunda {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  size: 30px;
  margin-left: 20px;
  align-items: center;
  text-decoration: none;
  background-color:rgb(224, 7, 80);
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  background-image: linear-gradient(2deg, rgb(207, 127, 165), rgb(224, 7, 80));
  
}
.abc {
  text-align:center;
}
.nani {
  size: 200px;
  height: 30px;
  margin-bottom: 15px;
  background-color: rgb(252, 243, 247);
  border-radius: 10px;
}
.mina {
  color: #02fc24;
}
p::after {
  content: "☢️" ;
}
.vex {
  text-align: center;
}
.blockvideo{
  display:inline-block;
}
.video1 {
  width: 550px;
  border-bottom-right-radius: 4px 4px 4px 5px;
}
.video2{
  width: 600px;
  margin-left: 120px;
}
.video3{
  margin-left: 120px;
  
}
.a {
  text-align: center;
  width: 500px;
  margin-left: 30%;
}
.dabba{
  text-align: center;
}
.firra {
  border: 5px solid rgb(224, 7, 80);
  padding: 50px 50px;
  margin-left: 500px;
  margin-right: 500px;
  border-radius: 20px;
}
.box1 {
  width: 500px;
  height: 200px;
  border: 5px solid white;
  overflow: scroll; 
  overflow: scroll;
}
.box2 {
  width: 500px;
  height: 200px;
  border: 5px solid white;
  overflow: hidden;
}

