body {
    background-color: rgb(17, 17, 17);
    margin: 0;
}
.back{
    width: 96%;
    height: 100px;
    margin-top: 34px;
    margin-left: 39px;
    background-color: aliceblue;
    border: 1px solid rgb(255, 251, 252);
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgb(247, 246, 246);
}
.baroption{
    display: flex;
    margin-top: 5px;
}
.bar{
    margin-left: 30px;
    
    
}
.barstyle{
    text-decoration: none;
    color: crimson;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: baseline;
    transition: font-size 1s;
}
.barstyle:hover{
    font-size: 45px;
}
.search-bar{
    width: 300px;
    margin-left: 500px;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 20px;
    padding: 12px;
    font-size: large;
}
.search-bar:focus{
    color: white;
    background-color: black;
    font-size: larger;
    
    
}
.search-button{
    margin-left: 20px;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-top: 5px;
    background-color: crimson;
    transition: width 1s;
}
.search-button:hover{
    width: 110px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-right: 10px;
}
.search-button-style{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    
}





