.goldenboynoor {
    background-color: rgb(12, 231, 231);
}
div {
    height: 100px;
    width: 100px;
}
#first {
    background-color: brown;
}
#second {
    background-color: chartreuse;
}
#third {
    background-color: blue;
}